button{
    padding: 20px 40px;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: aqua;
    color: black;
}
button:active{
    background-color: red;
    box-shadow: 5px 5px grey;
}
#link:link{
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    
}
a{
    color: black;
}
#link:hover{
    color: yellow;
    border-bottom: 2px solid purple;
}
#link:active{
    color: red;
}
#link:visited{
    color: purple;
}
/* table{
    width: 90%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 30px;
    background-color: yellow;
}
th{
    border: 2px solid black;
    padding: 20px;

}
td{
    border: 2px solid black;
    padding: 25px;
}
tr:hover:nth-child(odd){
    background-color: red;
}
th:nth-child(even){
    background-color: blue;
} */

/* table 2 */
/* table{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    border: 2px solid black;
    padding: 20px;
}
td{
    border: 2px solid black;
    padding: 20px;
} */

/* table3 */
/* table{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;

}
th{
    border: 2px solid black;

}
td{
    border: 2px solid black;
    padding: 20px;
} */

/* display procedures */
/* li{
    margin: 20px 0px;
    background-color: blue;
    display: inline;
} */
/* ul{
    background-color: grey;
    padding: 50px;
}
li{
    display: inline-block;
    margin: 0px 120px;
    background-color: yellow;
    padding: 25px;
    font-weight: 900;
    
} */
#image{
    position: relative;
    
}
#link{
    position: static;
}
#text{
    font-size: 49px;
    position: absolute;
    /* background-color: blue; */
    top: 1250px;
    /* color: white; */
    left: 550px;
}
#chevron{
    border: 2px solid white;
    background-color: red;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    color: white;
    position: fixed;
    top: 700px;
    left: 1500px;
}
.stick{
    background-color: blue;
    font-size: 20px;
    position: sticky;
    top: 0;
}