/* styling for table 1 */
table{
    /* width: 90%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px; */
    /* background-color: blue; */
    /* color: white; */
}

/* caption{
    color: black;
}
th{
    border: 1px solid black;
    padding: 20px;
}
td{
    border: 1px solid black;
    padding: 10px;
}
th:nth-child(odd){
    background-color: red;
}
th:nth-child(even){
    background-color: blue;

    color: white;
}
td:nth-child(even){
    background-color: yellow;
}
tr:nth-child(odd){
    background-color: aqua;
} */

/* styling for table two */
/* table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;

}
td{
    border: 1px solid black;

} */

/* styling for table 3 */
table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;

}
th{
    border: 1px solid black;

}
td{
    border: 1px solid black;

}